<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/admin.css">
    <title>admin</title>
</head>
<body>
    <%- include('navbar')%>
    <div class="head">
        <div class="head-left">
            <div class="Dashboard">Dashboard</div>
        </div>
        <a href="/admin/logout" class="button-logout" onclick="return confirm('Are you sure')">Logout</a>
    </div>
    <div class="head_2">
        <div class="head-left_2">
            <div class="box_date"><div>At : <%=timeCurrent%></div></div>
            <div class="box_date_year">Year : <div style="color: #50cc7f; font-weight: 700;"><%=countsYear.received%></div> : <div style="color: #EE4E4E; font-weight: 700;"><%=countsYear.noreceived%></div> : <div style="color: black; font-weight: 700;"><%=countsYear.total%></div></div>
        </div>
    </div>

    <div class="zone1">
        <div class="box-zone1">
            <p class="defult_text-zone1">Received</p>
            <div class="box_zone1_all">
                <% if(counts){%>
                    <div class="zone1_1_textAlert"><p><%=counts.received%></p></div>
                <%}else{%>
                    <div class="zone1_1_textAlert"><p> - </p></div>
                <%}%>
            </div>
        </div>
        <div class="box-zone1">
            <p class="defult_text-zone1">Not Received</p>
            <div class="box_zone1_all">
                <% if(counts){%>
                    <div class="zone1_2_textAlert"><p><%=counts.noreceived%></p></div>
                <%}else{%>
                    <div class="zone1_2_textAlert"><p>-</p></div>
                <%}%>
            </div>
        </div>
        <div class="box-zone1">
            <p class="defult_text-zone1">Total</p>
            <div class="box_zone1_all">
                <% if(counts){%>
                    <div class="zone1_3_textAlert"><p><%=counts.total%></p></div>
                <%}else{%>
                    <div class="zone1_3_textAlert"><p>-</p></div>
                <%}%>
            </div>
        </div>
    </div>
    <div class="zone2">
        <div class="box-zone2_1"> 
            <div class="text-header-box-zone2_1">
                <!-- find year  --> 
                <form action="/admin" method="post" class="form-inputyearandmont">
                    <% if(DatabaseNameCurrent){%>
                        <input type="month" name="DBname" class="inputYearAndMonth" value="<%= DatabaseNameCurrent %>" required>
                    <% }else{%>
                        <input type="month" name="DBname" class="inputYearAndMonth" required>
                    <%}%>
                    <button type="submit" class="btn-submityearandmont">Search</button>
                </form>
            </div>
            <% if (dataCollection) { %>
                <% for(let item of dataCollection){%>
                    <a href="/admin?name=<%= item%>" class="collection" ><p class="text-collection" ><%= item %></p></a>
                <%}%>
            <% }else{ %>
                <div>No collection !!!</div>
            <% }%>
        </div>
        <div class="box-zone2_2">
            <h3>Document Table</h3>
            <% if(document){%>
                <% if(document.length == 0 ){%>
                    <div class="alert_notfound">
                        <img class="img_alert" src="https://static.vecteezy.com/system/resources/previews/010/988/392/original/empty-box-illustration-3d-free-png.png" alt="" width="200" height="200">
                        <p> <Strong>No Data</Strong></p>
                        <p style="color: red;">Please chooses some collections !!!</p>
                    </div>
                <% }else{%>
                    <% document.forEach(function(doc) {%>
                        <div class="document"><a href="/admin/control/user_id?id=<%= doc._id %>&name=<%= doc.name %>&company=<%= doc.company %>&date=<%= timeCurrent %>&status=<%= doc.status %>">
                            <div class="document-item">
                                <div class="itemDocument"><p><%= doc.boxNumber %></p></div>
                                <div class="itemDocument_name"><p><%= doc.name %></p></div>
                                <div class="itemDocument"><p><%= doc.company %></p></div>
                                <% if(doc.status == true){%>
                                    <div class="itemDocument" style="color: green; font-weight: 700; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 16px;"><p>notRec-</p></div>  
                                <%}else{%>
                                    <div class="itemDocument" style="color: red; font-weight: 700; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 16px;"><p>Rece-</p></div>  
                                <%}%>    
                            </div>
                        </a>
                        </div>
                    <%})%>
                <% }%>
            <%}else{%>
                <div class="alert_notfound">
                    <img class="img_alert" src="https://static.vecteezy.com/system/resources/previews/010/988/392/original/empty-box-illustration-3d-free-png.png" alt="" width="200" height="200">
                    <p> <Strong>No Data</Strong></p>
                    <p style="color: red;">Please chooses some collections !!!</p>
                  </div>
            <%}%>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
<script>
    function navigateToDatabase() {
        const selectElement = document.getElementById('years');
        const selectedValue = selectElement.value;
        if (selectedValue) {
            window.location.href = '/admin?years=' + selectedValue;
        }
    }
</script>
</html>